/* Dashboard.css */

.dashboard {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .dashboard h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .dashboard h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .stat {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .stat h3 {
    margin: 0;
  }
  
  .error {
    color: red;
  }
  